<div>
  <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />

  <button class="btn" ng-click="reload()">Reload</button>
  <button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>
  <div class="row">
    <div class="spann11">
      <h2 ng-bind="event.name"></h2>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div><strong>Date: </strong>{{event.date}}</div>
      <div><strong>Time: </strong>{{event.time}}</div>
    </div>
    <div class="span4">
      <address>
            <strong>Address: </strong></br>
            {{event.location.address}}</br>
            {{event.location.city}}
          </address>
    </div>
  </div>

  <hr/>
  <h3>Sessions</h3>
  <ul class="thumbnails">
    <li ng-repeat="session in event.sessions | orderBy: sortOrder | limitTo: 2" id="session{{session.id}}">
      <div class="row session">
        <up-vote up-vote="upVoteSession(session)" down-vote="downVoteSession(session)" count="session.upVoteCount"></up-vote>
        <div class="well span9">
          <h4 class="well-title">
            {{session.name}}</h4>
          <span>Duration: {{session.duration | durations}}</span>
        </div>
      </div>
    </li>
  </ul>
  <select ng-model="sortOrder" class="input-small">
        <option selected value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
      </select>
</div>